/* Mobile and tablet */
@media (max-width: 1023px) {
  .hide-on-mobile-tablet {
    display: none;
  }
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }
  .header__search-input {
    width: 300px;
  }
}

/* Mobile */
@media (max-width: 739px) {
  .hide-on-mobile {
    display: none;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
  }
  .search-mobile-btn {
    display: block;
    color: #ccc;
    font-size: 20px;
  }
}
