.header__search_cart {
  display: flex;
}
.header__search {
  display: flex;
}
.header__search-input {
  width: 500px;
  height: 40px;
  border: none;
  border-radius: 2px 0px 0px 2px;
  padding: 6px;
  outline: none;
  font-size: 14px;
}
.header__search-btn {
  width: 50px;
  height: 40px;
  font-size: 14px;
  border: 2px solid #fff;
  border-radius: 0px 2px 2px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__search-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
.header__cart {
  width: 40px;
  height: 40px;
  font-size: 20px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  position: relative;
}
.header__cart:hover {
  cursor: pointer;
  opacity: 0.8;
}
.header__cart-amount {
  position: absolute;
  padding: 1px 6px;
  top: -2px;
  right: -10px;
  border-radius: 10px;
  color: var(--primary_color);
  background-color: #333;
  font-size: 14px;
  line-height: 14px;
  border: 2px solid #333;
}
.header__nav {
  display: flex;
}

.header__nav-notification {
  padding: 10px;
  font-size: 20px;
  margin-right: 10px;
}
.header__nav-notification:hover {
  cursor: pointer;
  opacity: 0.7;
}

.header__user {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.header__user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.header__user-name {
  font-size: 14px;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header__user-info {
  display: none;
  position: absolute;
  cursor: pointer;
  top: 35px;
  right: 0;
  min-width: 150px;
  background-color: #fff;
  margin: 0;
  padding: 4px 0;
  list-style: none;
  border-radius: 2px;
  box-shadow: 0 0 3px #777;
  animation: show ease-in 0.2s;
  z-index: 10;
}
.header__user-info::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 10px;
  top: -10px;
}
.header__user-info::after {
  content: "";
  position: absolute;
  cursor: pointer;
  top: -22px;
  border-width: 16px 20px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}
.header__user:hover .header__user-info {
  display: block;
}
.user-item {
  padding: 4px 10px;
  cursor: pointer;
  font-size: 14px;
}
